<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannerAdUnitId</key>
	<string></string>
	<key>interstitialAdUnitId</key>
	<string></string>
	<key>rewardedVideoAdUnitId</key>
	<string></string>
	<key>gdpr</key>
	<dict>
		<key>mediationNetworks</key>
		<array>
			<string>Chartboost</string>
			<string>AppLovin</string>
			<string>Vungle</string>
		</array>
		<key>privacyPolicyURL</key>
		<string>https://developers.google.com/admob/ios/eu-consent</string>
		<key>shouldOfferAdFree</key>
		<false/>
		<key>isTaggedForUnderAgeOfConsent</key>
		<true/>
		<key>isCustomForm</key>
		<true/>
	</dict>
</dict>
</plist>
