<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannerAdUnitId</key>
	<string>111</string>
	<key>interstitialAdUnitId</key>
	<string>222</string>
	<key>rewardedAdUnitId</key>
	<string>333</string>
	<key>rewardedInterstitialAdUnitId</key>
	<string>444</string>
	<key>nativeAdUnitId</key>
	<string>555</string>
	<key>isTaggedForChildDirectedTreatment</key>
	<false/>
	<key>isTaggedForUnderAgeOfConsent</key>
	<true/>
</dict>
</plist>
