<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannerAdUnitId</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>interstitialAdUnitId</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>rewardedAdUnitId</key>
	<string>ca-app-pub-3940256099942544/1712485313</string>
	<key>rewardedInterstitialAdUnitId</key>
	<string>ca-app-pub-3940256099942544/6978759866</string>
	<key>nativeAdUnitId</key>
	<string>ca-app-pub-3940256099942544/3986624511</string>
	<key>isTaggedForUnderAgeOfConsent</key>
	<false/>
</dict>
</plist>
